.card-img-top1:hover{
    transition: transform 0.5s ease;
    overflow: hidden;
    transform: translate(50px, 100px);
}

.card-img-top2:hover{
    transition: transform 0.5s ease;
    transform: rotate(20deg);
}

.card-img-top3:hover{
    transition: transform 0.5s ease;
    transform: scale(1.2);
}

.card-img-top4:hover{
    transition: transform 0.5s ease;
    transform: skew(20deg, 10deg);
}




.nav-link:hover{
    background-color: rgb(255, 18, 18);
    border-radius: 8px;
}

.card-img-top3D1:hover{
    transform: perspective(400px) rotateY(60deg);
  transition: 0.5s ease;
}

.card-img-top3D2:hover{
    transform: rotateX(45deg) rotateY(45deg);
  transition: 0.5s ease;
}

.card-img-top3D3:hover{
    transform: perspective(400px) rotateX(60deg);
    transition: 0.5s ease;
}

.card-img-top3D4:hover{
    transform: translate3d(50px, -50px, 50px);
    transition: 0.5s ease;
}


